# dependencies
node_modules/
.pnp
.pnp.*

# next.js
.next/
out/
build/
dist/

# env
.env
.env.local
.env*.local
apps/web/.env.local

# logs
*.log
npm-debug.log*

# os / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# supabase
supabase/.branches
supabase/.temp

# misc
*.tsbuildinfo
next-env.d.ts
